@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Roboto", sans-serif;
}
.container{
    margin: 0 auto;
}
header{
    padding: 30px 52px;
    background-image: url("image 1 (3).png");
    height: 1100px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.head{
    display: flex;
    align-items: center;
}
.head button{
    background-color: #009FF5B5;
    color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px #DAD3FF;    
    border: 0cap;
    margin: 0 35px 0 68px;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px 18px;
    font-size: 20px;
    font-weight: 600;
}
.head ul{
    display: flex;
    align-items: center;
    gap: 670px;
}
.head ul li a{
    font-size: 20px;
    font-weight: 700;
    color: #D5D5D6;
    text-shadow: 0px 4px 4px #000000E0;
}
.btn{
    font-size: 36px;
    font-weight: 700;
    background-color: #FFC611;
    border: 11px solid #5A5555;
    border-radius: 50px;
    padding: 20px 40px;
    margin: 177px 475px;
    text-align: center;
}
.cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card{
    margin-bottom: 126px;
    box-shadow: 8px 7px 20px 0px #FFFFFF;
    display: flex;
    flex-direction: column;
}
.cardtext{
    background-color: #1F1F1F;
    text-align: center;
    padding: 15px 0;
    font-size: 36px;
    font-weight: 600;
    color: #000000;
}
.cardtext p{
    text-shadow: 0px 4px 4px    #FFC200;
}
main{
    background-color: #000000;
    height: 1042px;
    width: 100%;
    padding: 61px 70px;
}
main h1{
    font-size: 64px;
    font-weight: 600;
    color: #5A5555;
    text-shadow: 0px 4px 4px #FFFFFF;
    text-align: center;
}
.info{
    display: flex;
    justify-content: space-between;
}
.infotext{
    font-size: 27px;
    font-weight: 600;
    color: #FFFFFF;
    width: 700px;
}
.info:nth-child(2){
    margin-bottom: 169px;
    margin-top: 58px;
}
.infotext button{
    width: 278px;
    height: 61px;
    background-color: #FFC200;
    color: #000000;
    font-size: 27px;
    font-weight: 700;
    text-shadow: 0px 4px 4px #040404CF;
    box-shadow: 0px 7px 12.8px 0px #FFFFFF;
    border: 0;
    margin-top: 80px;
}
.infotext button:hover{
    background-color: #535353;
    color: #FFFFFF;
    box-shadow: 0px 7px 12.8px 0px #FFFFFF;
}
footer{
    background-color: #FFC611;
    height: 158px;
    width: 100%;
    padding: 51px 58px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    display: flex;
    gap: 34px;
    align-items: center;
}